main{
  min-height: 80vh;
}

.productCardImg{
  width: 60%;
  height: 50%;
 
}

h3{
  padding: 1 rem 0;
}

h1{
  font-size: 1.8rem;
  padding: 1rem;
}

h2{
  font-size: 1.4rem;
  padding: 0.5rem;
}

.rating span {
  margin: 0.1rem;
}